[user]
    user = kevinmarquesp
    name = Kevin Marques
    email = kevinmarqueskmp@gmail.com

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto

[init]
    defaultBranch = main

[diff]
    tool = nvimdiff

[alias]
    a = add
    ap = add -p
    b = branch --verbose --abbrev
	br = branch -m
    c = commit
    d = diff
    i = init
    l = log --oneline --graph --decorate
    s = status --short --branch
    r = restore
    rs = restore --staged
	t = tag --annotate

    # push related aliasses
    p = push
    cl = clone
    ch = checkout
    bn = checkout -b
    m = checkout main

	# stash related
	ss = stash save
	sa = stash apply
	sl = stash list --pretty=\"%C(yellow)%h %Cgreen%cr%C(white): %gs\"

    # remote repo hendler
    rao = remote add origin
    psuo = push --set-upstream origin
    psuom = push --set-upstream origin main
    psuod = push --set-upstream origin dev

    # show a cool graph of all commits
    hist = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative

[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
